//wrapper

$wrapper-height: 826px;

//form

$form-width: 480px;
$form-bg-color: #ffe0e0;

//colors

$black: #000000;
$white: #ffffff;
$orange: rgb(244, 150, 77);
$gray: #aeadad;
$blue: #0069d9;
$lightblue: #c6e1fd;