  
    <div class="form-wrapper">
      <form class="form form-group">
        <h2 class="form__title">Log in</h2>
        <label class="form__label"
          >Email:<input
            id="email"
            type="email"
            class="form-control"
            placeholder="Enter email"
            [(ngModel)]="user.email"
            name="email"
          /></label
        >
        <label class="form__label"
          >Password:<input
            id="password"
            type="password"
            class="form-control"
            placeholder="Enter password"
            [(ngModel)]="user.password"
            name="password"
          /></label
        >
        <input
          id="submit"
          type="button"
          value="submit"
          class="btn btn-primary"
          (click)="login()"
        />
        <a href="/register" class="form__register"
          >Do not have an account?</a
        >
      </form>
    </div>